$hangman-color-red: #cc0000;
$hangman-color-black: #000;
$hangman-color-green: #006633;

.text-red {
	color: $hangman-color-red;
}
.text-green {
	color: $hangman-color-green;
}
.text-center {
	text-align: center;
}
.hangman-body {
	color: $hangman-color-black;
	background: resolve('paper.png') repeat 0 0;
	font-family: $font-neucha, cursive;
	font-size: 3rem;
}

.hangman-main-container {
	max-width: 62rem;
	margin: 0 auto;
	padding: 0 1rem;
}

.hangman-word {
	font-size: 6rem;
	letter-spacing: 1rem;
	margin: 2.8rem 0;
	text-align: center;
	white-space: nowrap;
}

.hangman-canvas-box {
	height: 24rem;
	margin: 3rem 0;
	overflow: hidden;
	width: 60rem;
}
%hangman-btn-style {
	background: linear-gradient(to top, #cfcfcf 0%, #ddd 49%, #ebebeb 50%, #f1f1f1 100%);
	border: 1px solid #707070;
	border-radius: 3px;
	box-shadow: inset 1px 1px 0 1px #f4f4f4, inset -1px -1px 0 1px #f4f4f4;
	color: $hangman-color-black;
	cursor: pointer;
	display: inline-block;
	line-height: 5rem;
	margin: 2px;
	text-align: center;
	transition: background 1s ease;
	&:hover,
	&:active {
		background: linear-gradient(to top, darken(#cfcfcf,4%) 0%, darken(#ddd,4%) 49%,lighten(#ebebeb,4%) 50%,lighten(#f1f1f1,1%) 100%);
	}
}
.hangman-btn {
	@extend %hangman-btn-style;
	padding: 0 1rem;
	.hangman-message & {
		margin: 1rem 0.5rem;
	}
}

.hangman-alphabet {
	margin: 3.3rem 0 2.3rem;
	min-height: 17rem;
	text-align: center;
	> .item {
		@extend %hangman-btn-style;
		font-size: 3.6rem;
		overflow: hidden;
		position: relative;
		vertical-align: top;
		width: 5rem;
	}
	> .item.-selected {
		text-indent: -100px;
	}
	> .item.-selected:after {
		content: '-';
		left: 0;
		position: absolute;
		right: 0;
		text-indent: 0;
	}
}

.hangman-attempt {
	> .counter {
		font-size: 3.8rem;
	}
}
.hangman-hint {
	padding-top: 1rem;
}
.hangman-aside {
	overflow: hidden;
	text-align: right;
}
.hangman-language-switcher {
	display: inline-block;
	> .item {
		@extend %hangman-btn-style;
		width: 5rem;
	}
}
.hangman-message {
	float: right;
	line-height: 1.3;
	padding: 3rem 1rem;
	max-width: 34rem;
	text-align: center;
}