$poker-text-color: #d8a033;
$poker-yellow-color: #fecf0a;
$poker-green-color: #104e16;
$poker-bg-color: #005555;
$poker-white-color: #e8e8e8;
$poker-btn-color: #eab445 ; /*#CC9900*/

.video-poker-body {
	background-color: $poker-bg-color;
	color: $poker-text-color;
	font-family: $font-lato;
	font-size: 1.4rem;
}
.color-yellow {
	color: $poker-yellow-color;
}
.text-underline {
	text-decoration: underline;
}
.video-poker-container {
	box-sizing: border-box;
	width: 98rem;
	margin: 2rem auto;
	padding: 0 1rem;
}
.video-poker-logo {
	float: left;
	margin-top: 2px;
	width: 266px;
	> .logo {
		
		width: 100%;
	}
}
.video-poker-combination {
	font-family: $font-lato-bold;
	font-size: 1.6rem;
	margin-left: 270px;
	> .combination {
		overflow: hidden;
	}
	> .combination > .title {
		background-color: rgba(0,0,0,0.2);
		box-sizing: border-box;
		float: left;
		margin: 2px 4px 2px 0;
		padding: 5px 10px;
		text-align: right;
		width: calc(35% - 4px);
	}
	> .combination > .win {
		background-color: rgba(0,0,0,0.2);
		box-sizing: border-box;
		float: left;
		margin: 2px 0;
		padding: 5px 0;
		text-align: center;
		width: 13%;
	}
	&[data-bet='1'] > .combination > .win:nth-of-type(2) {
		background-color: rgba(0,0,0,0.35);
	}
	&[data-bet='2'] > .combination > .win:nth-of-type(3) {
		background-color: rgba(0,0,0,0.35);
	}
	&[data-bet='3'] > .combination > .win:nth-of-type(4) {
		background-color: rgba(0,0,0,0.35);
	}
	&[data-bet='4'] > .combination > .win:nth-of-type(5) {
		background-color: rgba(0,0,0,0.35);
	}
	&[data-bet='5'] > .combination > .win:nth-of-type(6) {
		background-color: rgba(0,0,0,0.35);
	}
}
.video-poker-game-info {
	@extend .clearfix;
	margin: 3rem 0;
	> .item {
		display: block;
		font-family: "Lato-Bold", sans-serif;
		font-size: 2rem;
		float: left;
		width: 200px;
	}
	> .item > .sum {
		color: $poker-white-color;
		font-size: 2.4rem;
	}
	> .tip {
		color: $poker-white-color;
		float: right;
		font-family: "Lato-Bold", sans-serif;
		font-size: 1.6rem;
		padding-top: 7px;
	}
}

.video-poker-cards-holder {
	@extend .clearfix;
	height: 298px;
	margin: 3rem 0;
	position: relative;
	text-align: center;
	> .translucent {
		opacity: 0.8;
	}
}
.video-poker-message {
	color: $poker-white-color;
	background: rgba($poker-btn-color,0.95);
	border-radius: 7px;
	display: none;
	position: absolute;
	font-family: $font-lato-bold;
	font-size: 4rem;
	left: 40px;
	padding: 3.5rem 0;
	height: 85px;
	right: 40px;
	margin-top: -75px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
	top: 50%;
	&.-show {
		display: block;
	}
}
.video-poker-card {
	border-radius: 10px;
	box-shadow: 1px 1px 1px darken($poker-bg-color, 5%);
	cursor: pointer;
	float: left;
	position: relative;
	margin: 2rem 1%;
	width: 18%;
	&.-held {
		top: -20px;
		opacity: 0.9;
	}
	> .pic {
		display: block;
		width: 100%;
	}
}
.video-poker-aside {
	@extend .clearfix;
	margin: 3rem 0;
}
.video-poker-btn {
	background: $poker-btn-color;
	box-shadow: 0 5px darken($poker-btn-color,15%);
	border-radius: 4px;
	color: #3b3636;
	cursor: pointer;
	display: inline-block;
	font-size: 1.8rem;
	font-family: $font-lato-bold;
	letter-spacing: 1px;
	margin-right: 1.5rem;
	padding: 2.5rem 1rem;
	min-width: 150px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
	&:hover,
	&:active {
		top: 2px;
		box-shadow: 0 3px darken($poker-btn-color,15%);
	}
}
.video-poker-back-btn {
	@extend .video-poker-btn;
	@extend .common-back-btn;
	padding: 1.5rem 1rem;
	position: fixed;
	min-width: 100px;
	&:hover,
	&:active {
		top: 12px;
	}
}
.video-poker-deal-btn {
	@extend .video-poker-btn;
	float: right;
	margin-right: 0;
	width: 220px;
}